

<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString()== "Home"?"":"collapsed")" 
                asp-action="Index" 
                asp-controller="Home">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString()== "Sections"?"":"collapsed")"
                asp-controller="Sections" 
                asp-action="Index">
                <i class="bi bi-person"></i>
                <span>Secciones</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString()== "Sales"?"":"collapsed")"
               asp-controller="Sales" 
                asp-action="Index">
                <i class="bi bi-bar-chart"></i>
                <span>Ventas</span>
            </a>
        </li>


    </ul>

</aside><!-- End Sidebar-->