@model Proyecto_Licorera_Corchos.web.Data.Entities.Product

<h2>Editar Producto 🖊️</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="Name">Nombre</label>
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <label for="Price">Precio</label>
        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <label for="Description">Descripción</label>
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-warning">Actualizar Producto 💾</button>
}
