@model Proyecto_Licorera_Corchos.web.Data.Entities.User

<div class="container">
    <h2 class="text-center mt-4 mb-5" style="color: #e74c3c; font-weight: bold;">Eliminar Usuario</h2>
    <div class="alert alert-danger" role="alert">
        ¿Estás seguro de que deseas eliminar el usuario <strong>@Model.FullName</strong>?
    </div>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
