@model List<Section>

@{
    ViewData["Title"] = "Secciones";
}

<div class="pagetitle">
    <h1>Secciones</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item active">Secciones</li>
        </ol>
    </nav>
</div>

<section class="section dashboard">

    <div class="card">

        <div class="card-header">
            <h3 class="m-0 font-weight-bold text-primary">Secciones</h3>
        </div>

        <div class="card-body" mt-2>

         
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Seccion</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>

                    @foreach(Section item in Model)
                    {
                        <tr>
               
                            <td>@@item.Id</td>
                            <td>@@item.Name</td>
                            <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil-fill"></i></a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i></a>
                            </td>

                        </tr>
                    }      

                </tbody>
            </table>
            <!-- End Bordered Table -->

         </div>
    </div>

</section>
