@model List<Section>

@{
    ViewData["Title"] = "Secciones";
}

<div class="pagetitle">
    <h1>Secciones</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item active">Secciones</li>
        </ol>
    </nav>
</div>

<section class="section dashboard">

</section>
